In [1]:
import pandas as pd
import numpy as np

In [2]:
path ="./archive/coin_Ethereum.csv"
df = pd.read_csv(path)
df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Ethereum,ETH,2015-08-08 23:59:59,2.798810,0.714725,2.793760,0.753325,6.741880e+05,4.548689e+07
1,2,Ethereum,ETH,2015-08-09 23:59:59,0.879810,0.629191,0.706136,0.701897,5.321700e+05,4.239957e+07
2,3,Ethereum,ETH,2015-08-10 23:59:59,0.729854,0.636546,0.713989,0.708448,4.052830e+05,4.281836e+07
3,4,Ethereum,ETH,2015-08-11 23:59:59,1.131410,0.663235,0.708087,1.067860,1.463100e+06,6.456929e+07
4,5,Ethereum,ETH,2015-08-12 23:59:59,1.289940,0.883608,1.058750,1.217440,2.150620e+06,7.364501e+07
...,...,...,...,...,...,...,...,...,...,...
2155,2156,Ethereum,ETH,2021-07-02 23:59:59,2155.596496,2021.824808,2109.892677,2150.040364,3.179621e+10,2.505527e+11
2156,2157,Ethereum,ETH,2021-07-03 23:59:59,2237.567155,2117.590013,2150.835025,2226.114282,1.743336e+10,2.594475e+11
2157,2158,Ethereum,ETH,2021-07-04 23:59:59,2384.286857,2190.837703,2226.550382,2321.724112,1.878711e+10,2.706217e+11
2158,2159,Ethereum,ETH,2021-07-05 23:59:59,2321.922836,2163.041394,2321.922836,2198.582464,2.010379e+10,2.562978e+11
2159,2160,Ethereum,ETH,2021-07-06 23:59:59,2346.294874,2197.919385,2197.919385,2324.679449,2.089186e+10,2.710286e+11

In [3]:
df = df.drop(columns=['SNo', 'Name', 'Symbol'])
df.head()

,Date,High,Low,Open,Close,Volume,Marketcap
0,2015-08-08 23:59:59,2.798810,0.714725,2.793760,0.753325,674188.0,4.548689e+07
1,2015-08-09 23:59:59,0.879810,0.629191,0.706136,0.701897,532170.0,4.239957e+07
2,2015-08-10 23:59:59,0.729854,0.636546,0.713989,0.708448,405283.0,4.281836e+07
3,2015-08-11 23:59:59,1.131410,0.663235,0.708087,1.067860,1463100.0,6.456929e+07
4,2015-08-12 23:59:59,1.289940,0.883608,1.058750,1.217440,2150620.0,7.364501e+07

In [4]:
df['Date'] = pd.to_datetime(df['Date'])

In [5]:
start = '2016-07-06'
end = '2021-07-06'

In [6]:
fiveyears = (df['Date']>start) & (df['Date']<= end)

In [7]:
bitcoin_df = df.loc[fiveyears]
bitcoin_df

,Date,High,Low,Open,Close,Volume,Marketcap
333,2016-07-06 23:59:59,11.105600,10.280800,10.575800,10.528900,1.813730e+07,8.605715e+08
334,2016-07-07 23:59:59,10.565800,9.803210,10.535900,10.109400,1.540720e+07,8.266072e+08
335,2016-07-08 23:59:59,11.524800,9.961260,10.115300,11.394600,2.003980e+07,9.320569e+08
336,2016-07-09 23:59:59,11.456700,10.729500,11.417700,10.965500,1.725480e+07,8.973165e+08
337,2016-07-10 23:59:59,11.013700,10.782200,10.960400,10.947600,5.479240e+06,8.962019e+08
...,...,...,...,...,...,...,...
2154,2021-07-01 23:59:59,2274.397518,2081.080958,2274.397518,2113.605523,2.906170e+10,2.462782e+11
2155,2021-07-02 23:59:59,2155.596496,2021.824808,2109.892677,2150.040364,3.179621e+10,2.505527e+11
2156,2021-07-03 23:59:59,2237.567155,2117.590013,2150.835025,2226.114282,1.743336e+10,2.594475e+11
2157,2021-07-04 23:59:59,2384.286857,2190.837703,2226.550382,2321.724112,1.878711e+10,2.706217e+11
2158,2021-07-05 23:59:59,2321.922836,2163.041394,2321.922836,2198.582464,2.010379e+10,2.562978e+11

In [8]:
bitcoin_df.to_csv('Ethereum(fiveyears).csv')